/*--------TITRE--------*/

.titre {
    width:100%;
    text-align: center;
    border: 2px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}


/*---------NAVBAR--------*/

.navbar {
    margin-top: 10px;
    background-color: rgb(70, 69, 69);
    border-radius: 30px;
    padding-left: 150px;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.navbar .nav-item:hover .nav-link {
    color: rgb(104, 174, 231)
}

.navbar .nav-item .nav-link {
    color: rgb(221, 217, 217);
}


/*--------TITRE PRESENTATION----------------------*/

.titre_section {
    color:black;
}


/*--------------EFFETS SUR BODY --------------------- */

.container-fluid {
    background-color: rgb(166, 165, 165);
    font-family: Times New Roman, Trebuchet MS;
}


/*------------Présentation----------------------------*/

.card_presentation_bts {
    margin-top: 30px;
}

.titre1 {
    margin-bottom: 30px;
}

.card_presentation {
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: 8px 8px 0px #71aae3;
}
/*------------ParticulesJS-------------*/

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
}
.footer{
    margin-top:20px;
}