
/*-------------- TITRE--------------------- */

.titre{
    background-color:#71aae3;
    text-align: center;
    border:2px;
	border-radius:50px;
    margin-top:10px;
    padding-top:10px;
    padding-bottom:10px;
   
} 
/*--------------NAVBAR--------------------- */

.navbar{
    margin-top:10px;
    background-color: rgb(145, 143, 143);
    border-radius:30px;
    padding-left:150px;
   
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-weight:bold;
    
}
.navbar .nav-item:hover .nav-link{ 
    color: rgb(104, 174, 231) 
}

.navbar .nav-item .nav-link{
    color: black 
}

/*--------------TITRE BIENVENUE ------------- */

.titre_section{
    color:#71aae3;
}

.h1{
   
    color:#71aae3;
}

/*--------------EFFETS SUR BODY --------------------- */

.container-fluid{
    background-color:grey;
    font-family:Times New Roman,Trebuchet MS ;
}
/*--------------CARD PRESENTATION BTS--------------------- */

.card_presentation_bts{
    margin-top:30px;
}

.titre1{
    margin-bottom:30px;
}
.card_presentation{
    padding-left: 30px;
    padding-top:15px;
    box-shadow: 8px 8px 0px #71aae3;
    
}
.card-body{
    box-shadow: 8px 8px 0px #71aae3;
}


